body {
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
}

hr {
    border-style: dotted none none;
    width: 5%;
    margin: 100px auto 100px auto;
    border-width: 8px;
    color: #D6E4E5;
}

h1 {
    font-family: 'Sacramento', cursive;
    font-size: 5rem;
    margin: 50px auto 0 auto;
    color: #497174;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #497174;
    font-weight: bold;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #EB6440;
    font-weight: bold;
}


.user_name {
    margin: 0 auto 0 auto;
    width: 40%;
}

.top_container {
    background-color: #D6E4E5;
    position: relative;
    padding-top: 100px;
}

.middle_container {
    margin-top: 80px;
}

.bottom_container {
    background-color: #497174;
    padding: 60px;
}

.bottom_cloud {
    position: absolute;
    left: 250px;
    top: 300px;
}

.top_cloud {
    position: absolute;
    right: 300px;
    top: 40px;
}

.data_engineer {
    font-family: 'Courgette', cursive;
    font-weight: normal;
}

.profile_image {
    border-radius: 50%;
}


.skill_one {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.skill_two {
    width: 25%;
    float: right;
    margin-left: 30px;
}

.profile {
    width: 50%;
    margin: 0 auto 0 auto;
    line-height: 2;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.footer_link {
    color: #D6E4E5;
    margin: 30px 20px 0 20px;
    text-decoration: none;
}

.footer_link:hover{
    color: #EB6440;
}

.footer_mark {
    margin: 30px auto 0 auto;
    color: #EAF6F6;
    font-family: 'Merriweather', serif;
}

.contact_me {
    margin: 70px 0 70px 0;
}

.contact_me_button {
    background-color: #497174;
    text-decoration: none;
    color: #EAF6F6;
    padding: 12px 15px 12px 15px;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
}

.contact_me_button:hover{
    background-color: #EB6440;
}

.address_text {
    margin: 30px 0 60px 0;
}

.hello_text {
    margin-bottom: 0px;
}

.description_text {
    margin-top: 0px;
}

.skill_one_paragraph{
    margin-top: 0px;
}

.skill_two_paragraph{
    margin-bottom: 0px;
}